# Discord Webhooks
DISCORD_WEBHOOK_SORTEOS=
DISCORD_WEBHOOK_EVENTOS=
VITE_DISCORD_WEBHOOK_REPORTES=
PORT=3001

# Twitch API
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Cloudflare R2
VITE_R2_BASE_URL=

# Supabase Auth & Main
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Supabase Minigames
VITE_SUPABASE_MINIGAMES_URL=
VITE_SUPABASE_MINIGAMES_ANON_KEY=

# Analytics & External Links
VITE_GA_MEASUREMENT_ID=
VITE_WORDPRESS_URL=
VITE_TCG_URL=
